<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impugnación</title>
</head>
<body>
    
    BOGOTÁ D.C., {{ "now"|date("m/d/Y") }}<br><br>
    SEÑORES:<br>
    {{ datos.transito }}.<br>
    CIUDAD.<br>
    <p align="right">
        Ref.: REPOSICIÓN y en subsidio APELACIÓN contra: Comparendo: {{ datos.numCompa }} de fecha: {{ datos.fecha_comp }}.<br><br>
    </p>
    <p align="left">
        Yo, {{ user.first_name }} {{ user.last_name }}, identificado con Cédula de Ciudadanía Número: {{ user.user_name }}, domiciliado en Bogotá  y en atención a las previsiones que consagran el DERECHO CONSTITUCIONAL FUNDAMENTAL DE PETICIÓN, contenidas en el Artículo 23 del Constitución Política, desarrolladas en los Artículos 5, 6, 17, 31, 32 del Código Contencioso Administrativo, así como en el Decreto 2150 de 1995, además las disposiciones concordantes y pertinentes, me dirijo a esa Entidad, para los efectos del Inciso 2º del Artículo 206 del Decreto Ley 019 de 2012 que modificó el Artículo 159 de la Ley 769 de 2002 “Código Nacional de Transito” para que, OFICIOSAMENTE declare la NULIDAD y/o PRESCRIPCIÓN de las siguientes:
    </p>
    <p>
        1)	Sanción que me fuera impuesta con ocasión de la presunta Infracción de Tránsito según Orden de Comparendo electrónico No   {{ datos.numCompa }} de fecha: {{ datos.fecha_comp }}, en el sitio {{ datos.lugar }}, en el vehículo: {{ datos.vehiculo }} de Servicio {{ datos.servicio }} marca {{ datos.marca }}, placa {{ datos.placa }} y consecuencialmente se actualicen las bases de datos correspondientes de SIMIT, RUNT, así como todas aquellas donde aparezca como deudor de esta sanción.<br>
        
        En la siguiente sección se describirán los hechos por los cuales se emite la presente apelación por foto multa. Las razones que argumento para soportar la respetuosa APELACIÓN son las siguientes:
        
        <p align="center">
            HECHOS
        </p>
        <p align="left">
            1	Violación del debido proceso, pues a la fecha de hoy no se me hizo la notificación personal por correo certificado PRESENCIAL O ELECTRÓNICO, lo que significa que se me ha violado el debido proceso pues la notificación se debió hacer dentro de los diez días siguientes a su sanción y de forma personal.<br>
            2	Que a la fecha no he sido notificado del  Comparendo electrónico No   20750001000036285098 de fecha: 22/12/2022, en el sitio SAN ALBERTO-LA MATA R 4514-KM 1+499 SSN, por ningún medio idóneo violando lo contemplado en el Art 8 de la ley 1843 del 2017.<br>
            3	No se me comparte la foto referida en el comparendo, es decir, se me vulnera el derecho de defensa y por tanto, se presume que no existe la conducta reprochada y, menos aún, una identificación clara del conductor. Este es un requisito fundamental, señalado por la sentencia C-321 de 2022 de la Corte Constitucional de Colombia. <br>
            4	Adicional a lo señalado, la cámara SAN ALBERTO-LA MATA R 4514-KM 1+499 SSN,  a la fecha de la presunta ocurrencia de la infracción no cuenta la mencionada cámara no está registrada con resolución dentro de las cámaras autorizadas por la Agencia Nacional de Seguridad Vial. Subsidiariamente, aun cuando estuviera autorizado, el tipo de tecnología autorizado corresponde a radar doppler, no cámara.<br>
        </p>

    </p>
    
    Lo anterior significa que la cámara no tiene la capacidad para identificar plenamente al conductor, tal como lo ordena la Corte Constitucional. Vale anotar que en el sistema no se adjunta la foto; en consecuencia, el comparendo referenciado no es legal y su sanción no es aplicable (Ver evidencia, anexo uno).
    <br><br>
    <p align="center">
        PRETENSIÓN<br>

    </p>
    <p align="left">
        1.	Que se elimine y se me exonere del pago de las multas registradas en la plataforma MOVILIDAD EN LINEA y Federacion Nacional de Municipios: https://fcm.org.co/simit/#/: 
        <br><br>
        a.	Sanción que me fuera impuesta con ocasión de la presunta Infracción de Tránsito según Orden de Comparendo electrónico No 20750001000036285098 de fecha: 22/12/2022, en el sitio SAN ALBERTO-LA MATA R 4514-KM 1+499 SSN, en el vehículo: CAMIONETA de Servicio Particular marca SEAT, placa JXO357, y, a su vez se elimine el correspondiente registro de todas las bases de datos donde aparezca dicho reporte, por ser abiertamente ilegal.
        <br><br>
        <br>

    </p>
    <p align="center">
        FUNDAMENTOS DE LA PETICIÓN<br>
    </p>
    <p align="left">
        Constitución política de Colombia, artículos 13, 23, 48 y 53 Ley 1437 de 2011 código contencioso administrativo, artículos 2, 3, 5, 6, 7. Ley 1755 del 30 de junio del 2015.
        <br>
        Vale la pena recordar los términos establecidos para la respuesta de los derechos de petición consagrados en la ley 1437 de 2011 en su artículo 14 (modificado por la ley 1755 de 2015):<br> 
        ARTÍCULO 14. Salvo norma legal especial y so pena de sanción disciplinaria, toda petición deberá resolverse dentro de los quince (15) días siguientes a su recepción.<br>
        Aplicación de la sentencia C-038 de 2020 “en Colombia no se permite presumir que el propietario del vehículo es el infractor de las normas de tránsito, es decir, ya no se puede asumir que es responsable de las infracciones de tránsito que se realicen en su automóvil o motocicleta, salvo en ciertos casos de SOAT y Revisión Técnico Mecánica vencidos”.<br>
        <br>
        Lo anterior se debe a que, en un primer momento, la Corte Constitucional tumbó por completo la solidaridad que se presumía por ley. Pero, con la sentencia C-321 de 2022, se dejó claro que hay casos puntuales donde se puede sancionar al propietario del vehículo de forma casi automática:<br>
        -	Debida notificación.<br>
        -	Si existe resolución.<br>
        <br>

    </p>
    <p align="left">
        NOTIFICACIONES<br>
        La respuesta a esta apelación ser dirigida a la siguiente dirección: carrera 71d # 95a-25, interior 1, apartamento 702 de la Ciudad de Bogotá, departamento de Cundinamarca o al correo electrónico feramos60@gmail.com.<br>
        Documentos para tener en cuenta:<br> 
        1.	De la foto multa,  la encuentra en su sistema informático.<br>
        <br>
        <br>

    </p>
    Cordial Saludo,<br>
    <br>
    <br>
    {{ user.first_name }} {{ user.last_name }}<br>
    C.C.: {{ user.user_name }}, expedida en ________.
</body>
</html>





