node_modules
-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


*.ini
#*.txt
cred.txt
/index.php
licence.txt
readme.txt
readme.html





# Apache Ignorar carpetas y archivos del XAMMP
/apache2
/bin 
/build 
/cgi-bin 
/docs
/error
/etc
/icons
/img 
/include
/info
/lib
/libexec
/licenses
/logs
/man
/manager-osx.app 
/manual
/modules 
/mysql 
/pear
/php
/phpmyadmin
/proftpd
/sbin 
/share 
/temp
/var
/ctlscript.sh 
/properties.ini 
/README-wsrep
/README.md 
/RELEASENOTES
/THIRDPARTY
/xampp
/tmp 
/uploads
/htdocs/developeru
/htdocs/inversiones
/vendor
/htdocs/inversiones
*.txt

/hy3
/hy3gen
/api
/src
/hy

/liga/tmp
/liga/App/user
/liga/App/uploads
/formulario
/formulariop
/doom