{% extends "base_dataTable.twig" %}
{% block title %}Resumen Inscripciones{% endblock %}

{% block subtitle %}Nadadores Inscritos{% endblock %}
{% block miga %}{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        {% for message in flash_messages %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-{{ message.type }} text-center" role="alert">
                {{ message.body }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {# estos son los mensajes Flash #}


        <div class="container-fluid">
          <h5 class="mb-2">Resumen de Inscripciones Generales</h5>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-user"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Nadadores</span>
                  <span class="info-box-number">{{ cant_nadadores }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Pruebas Torneo</span>
                  <span class="info-box-number">{{ cant_pruebas }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-primary"><i class="far fa-star"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Total Clubes</span>
                  <span class="info-box-number">{{ cant_clubes }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->   
            
           

            
            
            
          </div>
        </div>

        {% if user.role_id == 3 %}
        <div class="container-fluid">
          <h5 class="mb-2">Resumen de Inscripciones del Club</h5>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-user"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Nadadores Club</span>
                  <span class="info-box-number">{{ cant_nadadoresC }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Pruebas Club</span>
                  <span class="info-box-number">{{ cant_pruebasC }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            
            
            
            
            
          </div>
        </div>
        {% endif %}


        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Nadadores Inscritos</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body">
            <table id="consolidado" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Club</th>
                  <th>Identificación</th>
                  <th>Nombre Nadador</th>
                  <th>Apellido Nadador</th>
                  <th>Metros</th>
                  <th>Estilo</th>
                  <th>Jornada</th>
                  <th>Sesión</th>
                  <th>Prueba</th>
                  <th>Hora</th>
                  <th>Tiempo Inscripcion</th>
                  <th>Ingresar Tiempo</th>
                  <th>Acción</th>
                </tr>
              </thead>

              <tfoot>
                <tr>
                  <th>Club</th>
                  <th>Identificación</th>
                  <th>Nombre Nadador</th>
                  <th>Apellido Nadador</th>
                  <th>Metros</th>
                  <th>Estilo</th>
                  <th>Jornada</th>
                  <th>Sesión</th>
                  <th>Prueba</th>
                  <th>Hora</th>
                  <th>Tiempo Inscripcion</th>
                  <th>Ingresar Tiempo</th>
                  <th>Acción</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% include "modal_time.twig" %}

{% endblock %}
