{% extends "base_dataTable.twig" %}
{% block title %}Inscripciones{% endblock %}

{% block subtitle %}Inscribir nadador en una prueba{% endblock %}
{% block miga %}{% endblock %}

{% block content %}          
        
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">        

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Nadadores</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="nadadores" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Genero</th>
                <th>Edad</th>
                <th>Inscribir</th>                               
              </tr>
              </thead>
              
              <tfoot>
              <tr>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Genero</th>
                <th>Edad</th>
                <th>Inscribir</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
            

{% include "footer_dataTable.twig" %} 

{% endblock %}
