{% extends "base_dataTable.twig" %}
{% block title %}Inscripciones{% endblock %}

{% block subtitle %}Descargar HY3 del Torneo{% endblock %}
{% block miga %}{% endblock %}

{% block content %}          
        
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">        

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Torneos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="torneos-hy" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Nombre del Torneo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>                
                <th>Lugar</th>
                <th>Seleccionar</th>
                                
              </tr>
              </thead>
              
              <tfoot>
              <tr>
                <th>Nombre del Torneo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>                
                <th>Lugar</th>
                <th>Seleccionar</th>
                
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
            
{% include "footer_dataTable.twig" %}    

{% endblock %}
