{% extends "base_admin.twig" %}
{% block title %}Admin{% endblock %}

{% block subtitle %}Inicio{% endblock %}
{% block miga %}{% endblock %}

{% block content %}         
        
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                          
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                  
                  <section class="col-lg-12 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <h3>Bienvenidos al sistema de inscripciones de los torneos de Natación</h3>
                    <br>
                    <h2>En este momento la plataforma se encuentra en ajustes. Agradecemos su comprensión</h2>
                  </section>
                  
                  
                </div>
                <!-- /.row (main row) -->
              </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          

{% endblock %}
